@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

[data-column-id="name"].rdt_TableCol {
    background-color: #56273B;;
    font-family: 'Inter', sans-serif;
    color: rgb(255, 255, 255);
  }
  [data-column-id="area"].rdt_TableCol {
    background-color: #56273B;
    font-family: 'Inter', sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bolder;
  }
  [data-column-id="e-mail"].rdt_TableCol {
    background-color: #56273B;;
    font-family: 'Inter', sans-serif;
    color: rgb(255, 255, 255);
  }
  [data-column-id="password"].rdt_TableCol, .rdt_TableRow {
    background-color: #56273B;;
    font-family: 'Inter', sans-serif;
    color: rgb(255, 255, 255);
  }

  [data-column-id="editbtn"].rdt_TableCol, .rdt_TableRow {
    background-color: #56273B;;
    font-family: 'Inter', sans-serif;
    color: rgb(255, 255, 255);
  }

.rdt_TableHeadRow {
    background-color: #56273B;
    font-family: 'Inter', sans-serif;
    color: black;
    font-size: larger;
}
.rdt_TableRow {
    background-color: rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
    color: black;
    width: 5vw;
}

