@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.waiterView {
    display: grid;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 95vh;
    background-color: #343240;
    margin: -1vw;
    grid-template-columns: 27vw 35vw 35vw;
    padding: 2vw;
}

.newOrder img {
    padding: 0;
    opacity: 0.6;
    width: 15vw;
}

.newOrder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 87vh;
    align-items: center;
}

.newOrder button {
    width: 20vw;
    padding: 3vh;
    align-items: stretch;
}

.menu {
    display: flex;
    flex-direction: column;
    height: 87vh;
    align-items: stretch;
}

.menu section {
    display: flex;
    justify-content: space-around;
}

.client {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    border: 0.5vh solid #56273B;
    border-radius: 1vw;
    height: 80vh;
    padding: 2vw;
    align-items: stretch;
}

.btnExit,
.btnViolet,
.btnGray,
.btnGreen,
.btnRed {
    background-color: #C77136;
    color: white;
    border-radius: 1vh;
    font-family: 'Inter', sans-serif;
    padding: 2vh;
    font-size: 1em;
    border: none;
    font-weight: bolder;
}

.btnViolet,
.btnGray {
    background-color: #56273B;
    width: 13vw;
}

.btnGray {
    background-color: #656B81;
}

.btnRed {
    background-color: #C74736;
}

.btnGreen {
    background-color: #396F27;
}

.client input {
    width: 25vw;
    padding: 1vh;
    font-size: 1em;
    border-radius: 1vh;
    border: none;
}

.idOrder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 2vw;
}

.btnOrder {
    display: flex;
    justify-content: space-around;
}

.btnOrder button {
    width: 13vw;
}

.orderProducts {
    height: 50vh;
    padding-bottom: 5vh;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.orderProducts p {
    color: #343240;
}

.total {
    text-align: right;
    height: 10vh;
    justify-items: flex-end;
}

.container-menu {
    display: grid;
    grid-template-columns: repeat(2, 13vw);
    grid-template-rows: repeat(3, 15vh);
    gap: 2vw;
    justify-content:space-around;
    padding-right: 3.4vh;
    padding-top: 3vh;
}

.container-item {
    background-color: #d5d8e2;
    border: #5d276f;
    border-radius: 0.5vw;
    width: 15vw;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.container-item p {

    margin: 0;
    display: flex;

    color: #343240;

}

.orderButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.productsOrder {
    width: 15vw;
}