@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.backKitchen {
    display: grid;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 95vh;
    background-color: #343240;
    margin: -1vw;
    grid-template-columns: 27vw 72vw;
    padding: 2vw;

}

.kitchen {
    display: grid;
    grid-template-rows: 10vh 60vw;
}

.btnPending,
.btnReady {
    background-color: #EAAC40;
    padding: 3vh;
    border-radius: 1vh;
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 1.3em;
    width: 15vw;
    height: 5vh;

}

.btnReady {
    background-color: #D9D9D9;
    color: rgb(0, 0, 0);
    justify-content: center;
}

.kitchenButtons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 60vw;
}

.orders {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-rows: auto auto auto auto;
    gap: 2vw;
    overflow: auto;
}

.kitchenTicket {
    background-color: #D9D9D9;
    border-radius: 1vw;
    border: 0.5vh solid #EAAC40;
}

.kitchenTicket p {
    color: #343240;
}

.headerOrder {
    background-color: #EAAC40;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 3.5vh;
    margin: -0.15vh;
    border-radius: 0.5vw 0.5vw;
}

.OrderItem{
    margin: 0.5vh;
    display: flex;
    flex-direction:row;
}

.OrderItem p{
    margin: 0.5vw;
    
}