/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
<<<<<<< HEAD
}
=======
<<<<<<< HEAD
}
=======
} */
>>>>>>> de448baf2c1b78c0f6a3b3934cd4ac513693e2d1
>>>>>>> 2a03a093f364e5133e8a7f08b252e2efeb686082
