@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

[data-column-id="name"].rdt_TableCol,
[data-column-id="area"].rdt_TableCol,
[data-column-id="e-mail"].rdt_TableCol,
[data-column-id="password"].rdt_TableCol,
[data-column-id="producto"].rdt_TableCol,
[data-column-id="precio"].rdt_TableCol
 {
  background-color: #56273B;
  font-family: 'Inter', sans-serif;
  font-size: 1.2em;
  color: rgb(255, 255, 255);
}

[data-column-id="editbtn"].rdt_TableCol,
.rdt_TableRow {
  background-color: #56273B;
  font-family: 'Inter', sans-serif;
  color: rgb(255, 255, 255);
}

[data-column-id="deletebtn"].rdt_TableCol,
.rdt_TableRow {
  background-color: #56273B;
  font-family: 'Inter', sans-serif;
  color: rgb(255, 255, 255);
}

.rdt_TableRow {
  font-family: 'Inter', sans-serif;
  color: black;
}

.backAdmin {
  display: flex;
  background-color: #343240;
  flex-direction: row;
  margin: -0.8vw;
  height: 100vh;
}

.menuBtn {
  display: flex;
  flex-direction: column;
  width: 16vw;
  padding: 3vh;
  border: none;
  font-weight: bolder;
}

#exit,
#prodBtn,
#addEmployee,
#emplBtn,
.btnEdit {
  background-color: #C77136;
  color: white;
  border-radius: 1vh;
  font-family: 'Inter', sans-serif;
  padding: 2vh;
  font-size: 1em;
  border: none;
  font-weight: bolder;
}

#emplBtn {
  background-color: #56273B;
}

#addEmployee {
  margin: 3vh 0 2vh 1.5vh;
  width: 13vw;
}

.inputAdm, .edit input {
  padding: 1.5vh;
  border-color: #56273B;
  border-radius: 1vh;
  width: 13vw;
  height: 3.7vh;
  margin: 0 0 2vh 0.3vh
}

.inputAdm:focus {
  border: 0.5vw solid #f5c421;
}

.backAdmin img {
  opacity: 0.5;
  width: 14vw;
  margin-top: 20vh;
  margin-bottom: 7vh;
  padding: 1vw;
  align-self: center;
  justify-self: center;
}

.tabEmpl {
  width: 78%;
}

.modal {
  width: 100%;
  height: 100%;
  background-color: rgba(67, 72, 84, 0.78);
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  overflow: auto;
}

.modalUser {
  background-color: #2c101ce1;
  margin: 35vh auto 0 auto;
  padding: 5vh;
  border-radius: 5px;
  width: 50vw;
  font-style: normal;
  display: flex;
  flex-direction: column;
}
.modalUser p{
  text-align: center;
}

.modalUser img{
  opacity: 1;
  margin: auto;
  margin-left: 16vw;
}

.agreeBtn {
  margin: 2vw;
  background-color: rgb(40, 135, 40);
  border: none;
  color:aliceblue;
  border-radius: 1vh;
  width: 8vw;
  height: 5vh ;
  align-items: center;
}

.cancelBtn{
  background-color: rgb(135, 40, 40);
  border: none;
  color:aliceblue;
  border-radius: 1vh;
  width: 8vw;
  height: 5vh ;
}

.buttons{
  margin-left: 13vw;
}
